@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&family=Roboto:wght@400;700&display=swap');
*{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration:none;
    text-transform: capitalize;
    
}
body {
  scroll-behavior: smooth;
  font-size: 16px;
    font-weight: 400;
    color: #000;
}
ul{margin-left: 0;padding-left: 0}
ul li{list-style: none;}


a{text-decoration: none;}
img{max-width: 100%;}
html{
    /*font-size: 62.5%;*/
    overflow-x: hidden;
}

/*Navbar start here*/
header{height: 55px;}
.navbar-brand.logo{
    font-size: 30px;
    font-weight: 700;
    color: #333333;
}
.navbar-nav.menubar .nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    text-transform: uppercase;
}
.navbar-nav.menubar .nav-item .nav-link.active{
    font-weight: 700;
    color:#333333;
}
/*Navbar end here */
/*Banner Start here */
.banner-page{
  background: url("../img/slider.jpg") no-repeat; /* The image used */
  background-position: center; /* Center the image */
  background-size: cover; 
}
.s_content{
    margin: 130px 0;
}
.b_title{
    font-size: 59px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 50px;
}
.b_para{
    color: #fff;
    margin-bottom:50px;
}
.learn-more{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    background: #fff;
    border-radius: 0;
    padding: 10px 25px;
}
.carousel-indicators{
    margin-left: 7%;
    bottom: 1px;justify-content: start;
}
.carousel-indicators button{

}
.carousel-indicators [data-bs-target]{
    width: 3px;height: 30px;
    color: #333;
}
.carousel-indicators .active{
    color: #8e8e8e;
}
.s_icon{font-size: 16px;}
.carousel-control-prev-icon.s_icon{
    width: 55px;
    height: 55px;
    background-image: none !important;
    color: #8e8e8e;
}
.carousel-control-next-icon.s_icon{
    width: 55px;
    height: 55px;
    background-image: none !important;
    color: #8e8e8e;
}
.carousel-control-prev{
    align-items: end;
    left: -25px;
}
.carousel-control-next{
    align-items: end;
    left: 50px;
}

/*Banner End here */
/*Intro page start here*/

.intro-page{
    padding-bottom: 60px;

    position: relative;
}
.into-title{padding-bottom: 100px;}

.top-line{
    width: 4px;
    height: 44px;
    color: #333;
    background: #333;display: inline-block;
}
.intro-title{
    margin-bottom: 70px;
}
.intro-title h4{
    font-size: 30px;font-weight: regular;
    color: #333;
    margin-bottom: 40px;
}
.intro-title p{
    line-height: 20px;
    color: #8e8e8e;
}
/*Intro page end here */
/*
    Box style start here
*/
.box-contaner{
    text-align: center;
    border: 1px solid #8e8e8e;
    padding-bottom: 38px;
    transition: .3s all;
}
.icon-container{
    display: inline-block;
    width: 70px;
    background: #fff;
    margin-top: -23px;
}
.box-contaner:hover{
    border-color: #333;
    cursor: pointer;
}
.icon-container i{
    font-size: 60px;color: #8e8e8e;
}
.box-details h4{
    font-size: 18px;
    font-weight: 900;color: #333;
    margin-top: 40px;
}
.bottom_line{
    width: 50px;height: 3px;background: #8e8e8e;
    display: inline-block;
    margin: 15px 0;
}
.box-details p{

    font-size: 16px;color: #8e8e8e;line-height: 20px;
    padding: 0 14px;
}
.more_btn{
    text-transform: uppercase;
    color: #8e8e8e;

}
.more_btn i{
    padding-left: 15px;
}
/*End Box section*/
/*About section start*/
.about-page{
    padding-bottom: 50px;
}
.about-content{
    padding-left: 15px;
}
.about-content h4{
    font-size: 30px;color: #333;
}
.about-content p{
    color: #8e8e8e;
    text-align: justify;
}
.about-content .learn-more{
    border: 1px solid #8e8e8e;
}
.learn-more i{
    padding-left: 15px;
}

/*About section end*/
/*Recent work start */
.work-page{ 
    background: #f8f8f8;
    /*margin-bottom: 70px;*/
}
.work-title h4{
    margin-bottom: 50px;
}
.recent-work .nav-tabs{
    border-bottom: 0
}
.recent-work .nav-tabs .nav-item{
    margin-right: 5px;
}

.recent-work .nav-tabs .nav-link{
    text-transform: uppercase;
    color: #8e8e8e !important;
    font-size: 16px;

}
.recent-work .nav-tabs .nav-link.active, .recent-work .nav-tabs .nav-link.hover, .recent-work .nav-tabs .nav-link.focus{
    border: 1px solid #8e8e8e;
    color: #333;
    border-radius: 0;
}
.recent-work .tab-content{
    margin-top: 50px;
} 

.box-card{
    position: relative;
    margin-bottom: 30px;
}
a.icon{
    position: absolute;
    color: #fff;
    left: 48%;
    top: 35%;
}
a.icon i{
    font-size: 34px;
}
.project-desc{
    background: #fff;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
    position: absolute;
    cursor: default;
}
.project-desc h4{
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
}
.project-desc p{
    font-size: 16px;
    color: #8e8e8e;
    margin-bottom: 0;
}
.overlay_content{
    content: '';
    width: 100%;height: 100%;
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    transition: .5s ease;
    cursor: pointer;
}
.box-card:hover .overlay_content{
    display: block;
}

/*Recent work end*/
/*Why choose us*/
.box-container{
    color: #8e8e8e;
    border-bottom: 2px solid #8e8e8e;
    margin-bottom: 30px;
}
.icon-box{margin-bottom: 20px;}
.icon-box i{
    font-size: 48px;
}
.icon-box h4{
    font-size: 18px;font-weight: bold;
}
.icon-box p{
    padding-bottom: 30px;
}
.box-container:hover{
    border-color: #333;
    color: #333;
}
/*End choose*/
/*Work start */
.whowork-page{
    background: url('../img/workbg.jpg')no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
}

.team-box{
    position: relative;
}
.team-box img{
    width: 100%;
}
.team-details{
    background: #fff;
    color: #8e8e8e;
    padding: 10px 20px;
}
.team-details h4{
    font-size: 18px;font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.team-details p{
    font-size: 16px;font-weight: regular;
    margin-bottom: 0;
}
.overlay-icon{
    content: "";
    position: absolute;
    top:40px;left: 0;
    width: 18%;
    /*height: 100%;*/
    background: #fff;
    text-align: center;
    display: none;
    transition: .4s linear;
}
.overlay-icon a{
    color: #8e8e8e;
    font-size: 26px;
}
.team-box:hover .overlay-icon{
    display: block;
}
.team-box a:hover{
    color: #333;
}
.team-box li:hover{
    border-right: 1px solid #8e8e8e;
}

/*Work end */
/*Buy Page*/
.buy-page{
    background: #f8f8f8;
    padding: 22px 0px;
}
.buy-page p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;

}
.buy-now{
    border: 1px solid #333;background:transparent;
}
/*End buy page*/
/*Contact Us page */
.contact-page{
    margin-top: 30px;
    padding-bottom: 90px;
}
.line{
width: 100%;
    height: 1px;
    background: #8e8e8e;

}
.contact-title{
    /*text-align: center;*/
    display: inline-block;
    width: 233px;
    background: #fff;
    margin-top: -46px;
    /* border: 1px solid red; */
    /* margin-bottom: 15px; */
    overflow: hidden;
    

}
.contact-title h4 {
    margin-bottom: 0;
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  
  text-align: center;
  height: 1.5em;
  opacity: 0.5;
}
.hr-text:before {
  content: "";
  background: linear-gradient(to right, transparent, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 0.5em;
  line-height: 1.5em;
  /*color: 818078;*/
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  background-color: #fcfcfa;
}
.contact-form .form-control{
    border:0;
    border-bottom: 1px solid #8e8e8e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8e8e8e;
    box-shadow: none;
    border-radius: 0;

}
 .contact-form .form-control:focus{
    outline: none;
    border:none;
    border-bottom: 1px solid #333;
    box-shadow: none;
    background: none;
    color: #333;
}
.send-btn{
    border: 1px solid #8e8e8e;
    border-radius: 0;
    text-transform: uppercase;
    padding: 10px 25px;
    margin-top: 25px;
}
.send-btn i{
    padding-left: 15px;
}
/*End contact Us*/
/*Footer page start here */
footer{
    background: url('../img/footer-bg.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.top_footer{
    margin-bottom: 90px;
}
.footer .work-title h4{margin-bottom: 30px;}
.footer .work-title p{
    color: #fff;
    margin-bottom: 30px;
    font-weight: 400;
}
.footer-social{
    margin-bottom: 0;
}
.footer-social li a{
    color: #fff;
    font-size: 26px;
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 1px solid #fff;
    text-align: center;
    /*margin-right: 12px;*/
}
.footer-social li a:hover{
    background: #fff;
    color: #333;
}
.copy{
    
    font-weight: 400;
    color: #fff;
}
.footer-link a{
    color: #fff;
    text-decoration: none;
}
.footer-link .list-inline-item:not(:last-child){
    margin-right: 38px;
}
/*Footer page end her */